@page "/table/{TableSchema:alpha}/{TableName:alpha}"
@model Swiftfox.Pages.TableModel
@{
    ViewBag._Title = $"{Model.Table.SchemaName}.{Model.Table.TableName}";
}

<div swiftfox-app="swiftfox/table" swiftfox-app-props="@Json.Serialize(new {  tableSchema = Model.Table.SchemaName, tableName = Model.Table.TableName }).ToString()">
</div>
